.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x:hidden;
}

.scrollable-dropdown {
  height: auto;
  overflow-y:auto;
  overflow-x: hidden;
}

.popup_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 20%;
  bottom: 20%;
  margin: auto;
  background: white;
}
.navbar {
  min-height: 40px;
}

.mb-6 {
  margin-bottom: 20px !important;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.menu-sidebar.modal.fade .modal-dialog {
  transition: none;
}
.menu-sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.menu-sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}
.menu-sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}
.menu-sidebar.modal {
  max-width: 100%;
  box-shadow: 5px 0 10px;
}
.menu-sidebar.modal.left {
  right: auto;
}
.menu-sidebar.modal.right {
  left: auto;
}
.menu-sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.menu-sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.menu-sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
  ul li a:hover {
    border-left: 8px solid #f5934e;
    background-color: #182335;
  }
}
.menu-sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}
.menu-sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}
.menu-sidebar .nav {
  width: 320px;
}

.scroll {
	max-height:330px;
	overflow:auto;
}

